/*===Universal Box Sizing===*/

* {
  box-sizing: border-box;
}

/*=========================*/

/*========== ======= ============ ======== =========== =========== ==========
YOU ARE HAVING TROUBLE WITH SOME OF THE IMAGES STAYING IN THE POSTION
YOU WANT THEM TOO WHEN SCAILING THE PAGE UP OR DOWN. RE-CHECK WHAT YOU'VE DONE
SO FAR. YOU GOT THIS..........................................................
========= ======== ========= ========== ========== =========== ========== ====*/
/*===Base Page Styles===*/

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #404040;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/*add a hover link style here*/

/*=========================*/



/*===Header====*/
  /*------Navigation and Profile in this section------*/
    /*===Navigation===*/

    .student-name,
    .nav {
      display: block;
      text-align: center;
    }

    .nav li {
      border: 1px solid white;
      border-radius: 1%;
      background: white;
      margin: 7px 25px;
    }

    .nav a {
      display: block;
      padding: 7px 0;
      color: #333;
      text-transform: uppercase;
      font-weight: bolder;
    }

    /*=========================*/

    /*===Profile===*/

    .layout-profile {
      display: block;
      max-width: 65%;
      margin: 30px auto;
    }

    .profile p {
      text-align: center;
      color: #a6a6a6;
      margin: 0 15px;
    }

    .profile {
      padding-bottom: 40px;
    }

    /*=========================*/
/*======================================================*/



/*===Portfolio===*/

#portfolio {
  border: 5px solid white;
  background: white;
  padding: 40px 15px 40px;
  text-align: center;
}

#portfolio h3 {
  text-transform: uppercase;
}

.my-work {
  display: block;
  max-width: 95%;
  margin: 30px auto;
}

/*=========================*/



/*===Main-Footer===*/
  /*------Contact is inside the footer section------*/
    /*===Contact===*/

    #contact {
      margin-bottom: 50px;
    }

    #contact h4 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      margin: 45px auto;
    }

    #contact p {
      color: #a6a6a6;
      text-align: center;
      margin: 0 20px 20px;
    }

    .phone a,
    .email a {
      padding: 10px;
    }

    a[href^="mailto:"],
     [href^="tel:"] {
       color: #595959;
     }

    /*============================*/

    /*===Top-Border===*/

    .top-border {
      border-top: 1.7px solid #d9d9d9;
      margin: 0 auto;
      padding: 0;
      height: 1px;
      width: 95%;
    }

    /*=========================*/

    /*===Bottom-Footer===*/

    .footer-name {
      float: left;
      margin-left: 15px;
    }

    .to-top {
      float: right;
      margin-top: 2px;
      margin-right: 15px;
    }

    .to-top a {
      color: #000000;
      text-transform: uppercase;
    }

    /*=========================*/
/*======================================================*/



/*===Media Queries===*/

  /*===foot-nav media query===*/
  @media (max-width: 768px){
      .footer-nav {
        display: none;
      }
  }
  /*======================*/
@media (min-width: 768px) {

  /*===Clearfix===*/

  .clearfix::after {
      content: "";
      display: table;
      overflow: hidden;
      clear: both;
  }

  /*=======================*/

  /*===Navigation===*/

  .main-nav ul {
    padding-bottom: 30px;
  }

  .nav li {
    display: inline-block;
    border: none;
    background: none;
  }

  /*======================*/

  /*===Profile===*/

    .layout-profile,
    .profile p {
      vertical-align: top;
    }

    .layout-profile {
      float: right;
      width: 35%;
      margin: 0 30px;
    }

    .profile p {
      border: 1px solid none;
      text-align: left;
      font-size: 1.325em;
      width: 65%;
      margin: 0 30px;
    }

  /*======================*/

  /*===Portfolio===*/

    .column-1,
    .column-2 {
      max-width: 45%;
      vertical-align: top;
      position: relative;
    }

    .my-work {
        max-width: 100%;
    }

    .column-1 {
      margin-left: 30px;
      float: left;
    }

    .column-2 {
      margin-right: 30px;
      float: right;
    }
  /*============================*/

    /*===Main-Footer===*/

    .contact-me p {
      text-align: center;
      padding: 0 160px;
    }

    .to-top {
      display: none;
    }

    .footer-nav {
      float: right;
    }

    .footer-nav li {
      float: left;
      margin-top: 20px;
    }

    .footer-nav a {
      padding: 0 30px;
      list-style: none;
      color: #404040;
      font-weight: bolder;
    }


  /*============================*/
}



@media (min-width: 1024px) {

  /*===Clearfix===*/

  .clearfix::after {
      content: "";
      display: table;
      overflow: hidden;
      clear: both;
  }

  /*=======================*/

  /*===Navigation===*/

  .main-nav,
  .student-name,
  .nav li {
    max-width: 100%;
  }

  .student-name {
    float: left;
    margin-left: 30px;
  }

  .nav {
    float: right;
    margin: 20px 15px 0 0;
  }

  /*========================*/

  /*===Profile===*/

  .profile {
    clear: both;
  }

  .layout-profile {
    margin: 0 35px;
  }

  .profile p {
    margin-left: 30px;
  }

  /*========================*/

  /*===Portfolio===*/

  .column-1,
  .column-2 {
    float: left;
    max-width: 30%;
    margin: 15px;
  }
  /*========================*/
}
