/*===Universal Box Sizing===*/

* {
  box-sizing: border-box;
}

/*=========================*/



/*===Base Page Styles===*/

body {
  margin: 0;
  padding: 0;
  background: #404040;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #cc6600;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

  /* mouse over link */
  li a:hover {
      color: #3366ff;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      background: #404040;
      transition: 1s;
  }

  .to-top:hover {
      color: #3366ff;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      background: #404040;
      transition: 1s;
  }
/*=========================*/



/*===Header====*/
  /*------Navigation and Profile in this section------*/
    /*===Navigation===*/

    .student-name,
    .nav {
      display: block;
      text-align: center;
    }

    .nav li {
      border: 1px solid #404040;
      border-radius: 1%;
      background: #737373;
      margin: .40em 1em;
    }

    .nav a {
      display: block;
      padding: .40em 0;
      color: #b3d9ff;
      text-transform: uppercase;
      font-weight: bolder;
    }

    /*=========================*/

    /*===Profile===*/

    .layout-profile {
      display: block;
      max-width: 65%;
      margin: 2.2em auto;
    }

    .profile p {
      text-align: center;
      color: #a6a6a6;
      margin: 0 1.2em;
    }

    .profile {
      padding-bottom: 2.2em;
    }

    /*=========================*/
/*======================================================*/



/*===Portfolio===*/

#portfolio {
  background: #737373;
  padding: 2em 1em;
  text-align: center;
  color: #262626;
}

#portfolio h3 {
  text-transform: uppercase;
  color: #e67300;
}

.column-1,
.column-2,
.my-work {
  display: block;
  max-width: 97%;
  margin: 1.5em auto;
}

.my-work {
  border: .2em solid white;
}



figcaption {
  max-width: 85%;
  text-align: center;
  font-size: .95em;
  margin: 0 auto;
}

/*=========================*/



/*===Main-Footer===*/
  /*------Contact is inside the footer section------*/
    /*===Contact===*/

    #contact {
      margin-bottom: 2em;
    }

    #contact h4 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      margin: 2em auto;
    }

    #contact p {
      color: #a6a6a6;
      text-align: center;
      margin: 0 1.2em 1.2em;
    }

    .phone a,
    .email a {
      padding: .65em;
    }

    a[href^="mailto:"],
     [href^="tel:"] {
       color: #b3d9ff;
     }

    /*============================*/

    /*===Top-Border===*/

    .top-border {
      border-top: 1.7px solid #d9d9d9;
      margin: 0 auto;
      padding: 0;
      height: 1px;
      width: 95%;
    }

    /*=========================*/

    /*===Bottom-Footer===*/

    .footer-name {
      float: left;
      margin-left: 1.3em;
    }

    .footer-nav {
      display: none;}

    .to-top {
      float: right;
      margin-top: .10em;
      margin-right: 1.3em;
    }

    .to-top a {
      color: #b3d9ff;
      text-transform: uppercase;
    }

    /*=========================*/
/*======================================================*/

@media screen and (min-width: 768px) {

  /*===Clearfix===*/

  .clearfix::after {
      content: "";
      display: table;
      overflow: hidden;
      clear: both;
  }

  /*=======================*/

  /*===Navigation===*/

  .main-nav ul {
    padding-bottom: 1.2em;
  }

  .nav li {
    display: inline-block;
    border: none;
    background: none;
  }

  /*======================*/

  /*===Profile===*/

    .layout-profile {
      float: right;
      width: 35%;
      margin: 0 1em;
    }

    .profile p {
      /*border: 1px solid none;*/
      text-align: left;
      font-size: 1.4em;
      width: 65%;
      margin: 0 1.1em;
    }

  /*======================*/

  /*===Portfolio===*/

    #portfolio {
      border: none;
    }

    .column-1,
    .column-2 {
      max-width: 50%;
    }

    .my-work {
        max-width: 95%;
        margin: 1em auto;
    }

    figcaption {
      text-align: center;
      display: table;
      max-width: 85%;
      margin: 0 auto;
      font-size: 1.2em;
    }

    .column-1 {
      float: left;
    }

    .column-2 {
      float: right;
    }
  /*============================*/

    /*===Main-Footer===*/

    .contact-me p {
      text-align: center;
      padding: 0 9em;
    }

    .to-top {
      display: none;
    }

    .footer-nav {
      float: right;
      display: inline-block;
    }

    .footer-nav li {
      float: left;
      margin-top: 1.3em;
    }

    .footer-nav a {
      margin: 0 -.50em;
      padding: 0 2em;
      list-style: none;
      color: #b3d9ff;
      font-weight: bolder;
      text-transform: uppercase;
    }


  /*============================*/
}
/*======================================================*/


@media (min-width: 1024px) {

  /*===Clearfix===*/

  .clearfix::after {
      content: "";
      display: table;
      overflow: hidden;
      clear: both;
  }

  /*=======================*/

  /*===Navigation===*/

  .main-nav,
  .student-name,
  .nav li {
    max-width: 100%;
  }

  .student-name {
    float: left;
    margin-left: 1.3em;
  }

  .nav {
    float: right;
    margin: 1.2em 1em 0 0;
  }

  /*========================*/

  /*===Profile===*/

  .profile {
    clear: both;
  }

  .layout-profile {
    margin: 0 2em;
  }

  .profile p {
    margin-left: 2em;
    font-size: 1.46em;
  }

  /*========================*/

  /*===Portfolio===*/

  #portfolio {
      border: none;
      padding: 1em 0;
  }

  .column-1,
  .column-2 {
    float: left;
    max-width: 30%;
    margin: auto 1em;
  }

  .my-work {
      max-width: 95%;
      margin: 1em .80em;
  }

  figcaption {
    text-align: center;
    display: table;
    max-width: 85%;
    margin: 0 auto;
    font-size: .95em;
  }

  /*========================*/
}
/*======================================================*/
